<template class="task-template">
    <div id="about-modal" class="about modal">
        <div class="about-wrapper">
            <header class="about-header">
                <img class="about-logo" src="assets/img/about.png" srcset="assets/img/about.png 1x, assets/img/about@2x.png 2x" alt="Electron.NET API Demos">
            </header>
            <main class="about-sections">
                <section class="about-section play-along">
                    <h2>Play Along</h2>
                    <p>
                        在您自己的Electron应用中使用演示片段，<a href="https://github.com/electron/electron-quick-start">Electron快速起步<span class="u-visible-to-screen-reader">（在新窗口打开）</span></a>应用是一个与这些演示配对的简单的设置，按照这里的指示去做吧。
                        在您的ASP.NET Core应用程序中引入<a href="https://www.nuget.org/packages/ElectronNET.API/" target="_blank">ElectronNET.API NuGet包</a>来激活Electron.NET。
                    </p>
                    <p>
                        <code class="language-bash">PM> Install-Package ElectronNET.API</code>
                    </p>

                    然后在把UseElectron这个WebHostBuilder扩展包含到您的ASP.NET Core项目中的Program.cs文件中。

                    <pre>
                    <code class="csharp">public static IWebHost BuildWebHost(string[] args)
{
    return WebHost.CreateDefaultBuilder(args)
        .UseElectron(args)
        .UseStartup<Startup>()
        .Build();
}</code>
                    </pre>
                </section>
                <section class="about-section about-code">
                    <h2>关于代码</h2>
                    <p>
                        这款应用的源代码已经被组织起来，可轻易地随心导航。
                        您将在控制器中找到每个API类别的源代码。
                        这个示例应用基于<a href="https://github.com/electron/electron-api-demos" target="_blank">Electron API 实例</a>。
                    </p> 
                </section>
                <footer class="about-section footer">
                    <div class="rainbow-button-wrapper">
                        <button id="get-started" class="about-button modal-hide">快速起步</button>
                    </div>
                </footer>
            </main>
        </div>
    </div>
</template>
